@charset "UTF-8";

html {
  height: 100%;
  font-family: sans-serif;
  font-size: 62.5%;
}

@media only screen and (min-width: 480px) and (max-width: 720px) and (max-aspect-ratio: 1 / 1), only screen and (min-width: 800px) and (max-width: 1280px) and (min-aspect-ratio: 1 / 1) {
  html {
    font-size: 93.75%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1080px) and (max-aspect-ratio: 1 / 1), only screen and (min-width: 960px) and (max-width: 1920px) and (min-aspect-ratio: 1 / 1) {
  html {
    font-size: 125%;
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: block;
  overflow: hidden;
}

.calendarArea {
  text-align: center;
  padding: 1rem 0;
}

.calendarArea x-calendar {
  margin-bottom: 0.5rem;
}

input[type="time"] {
  background: url("input_areas/images/ui/shadow.png") repeat-x scroll 0 0 white;
  border: 0.1rem solid #CCCCCC;
  border-radius: 0.3rem;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  font-size: 1.8rem;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1.2rem;
  resize: none;
  width: 100%;
}

.inputArea {
  padding: 0 1rem;
}
