@charset "utf-8";

html {
  height: 100%;
  font-size: 62.5%; /* Setting base font to 10px and define all your units in rem. 1rem = 10px */
}

body {
  margin: 0;
  height: 100%;
  display: block;
  font-family: sans-serif;
}

[data-position="back"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    /* z-index: 100; -> drawer */
}
[data-position="back"].fade-in {
    z-index: 120;
    animation: fadeIn 0.2s forwards;
    -webkit-animation: fadeIn 0.2s forwards;
}
[data-position="back"].fade-out {
    animation: fadeOut 0.2s forwards;
    -webkit-animation: fadeOut 0.2s forwards;
}

#boxBlock{
    position:absolute;
    z-index:900;
    background-color:orange;
    overflow:hidden;
    width:100px;
    height:40px;
    cursor:move;
}

#list-group li{
    cursor: move;
    background-color: #fff;
    position: relative;
    z-index:800;
}

#dropArea{
    width: 30%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -15%;
    background-color: #000;
    filter: alpha(opacity=30);
    -moz-opacity:0.30;
    opacity:0.30;
    border: 1px solid #ccc;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -o-border-radius: 1em;
    -ms-border-radius: 1em;
    z-index: 800;
}