html {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100%;
  display: block;
  overflow: auto;
  font-family: sans-serif;
}

section[role="region"] {
  height: 100%;
  background: #fff;
}

/* Fonts */
h1 { /* Main header */
  font-size: 2.5rem;
  font-weight: normal;
}

h2 { /* Subheader, Dialog title */
  font-size: 1.6rem;
  font-weight: normal;
}

p {
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.5rem;
}